
body {
	background: url('../image/background/west.jpg') no-repeat ;
}

#layout {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
#layout td,.item {
    height: 128px;
    width: 128px;
}
#layout td {
    padding:15px;
}

.item {
    cursor: pointer;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

.item.flipped {
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
}

.item figure {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.item .back {
    margin: 0px;
    background:url(../image/ui/back.png);
    /*background: blue;*/
}

.item .front {
    /*background: red;*/
    margin: 0px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item-type-1 {
    background:url(../image/item/BigEyes.png) no-repeat 0 0;
}
.item-type-2 {
    background:url(../image/item/Black.png) no-repeat 0 0;
}
.item-type-3 {
    background:url(../image/item/BlackPower.png) no-repeat 0 0;
}
.item-type-4 {
    background:url(../image/item/Blue.png) no-repeat 0 0;
}
.item-type-5 {
    background:url(../image/item/Brown.png) no-repeat 0 0;
}
.item-type-6 {
    background:url(../image/item/Green.png) no-repeat 0 0;
}
.item-type-7 {
    background:url(../image/item/Orange.png) no-repeat 0 0;
}
.item-type-8 {
    background:url(../image/item/Pink.png) no-repeat 0 0;
}
.item-type-9 {
    background:url(../image/item/Tentacles.png) no-repeat 0 0;
}
.item-type-10 {
    background:url(../image/item/Tie.png) no-repeat 0 0;
}
.item-type-11 {
    background:url(../image/item/White.png) no-repeat 0 0;
}

.item-done {
    filter: grayscale(0.7);
    -webkit-filter: grayscale(0.7);
    -moz-filter: grayscale(0.7);
    -o-filter: grayscale(0.7);
    -ms-filter: grayscale(0.7);
}

#icon-div {
    position: absolute;
    margin-left:750px;
    float:left;
}

#icon-img {
    padding-left: 50px;
}

#point-div {
    width: 150px;
    height: 150px;
    background:url(../image/ui/score.png) no-repeat 0 0;
    padding: 19px 0px 0px 29px;
    margin-left: -7px;
    font-size: 30px;
    color: rgb(250, 250, 250);
}

#s {
    margin: 30px;
    padding: 10px;
}
