
body {
	background: url('../image/background/west.jpg') no-repeat ;
}

#layout {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
#layout td,.item {
    height: 128px;
    width: 128px;
}
#layout td {
    padding:15px;
}

.item {
    cursor: pointer;
    position: relative;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

.item.flipped {
    -webkit-transform: translateX(-100%) rotateY(-180deg);
    -moz-transform: translateX(-100%) rotateY(-180deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    transform: translateX(-100%) rotateY(-180deg);
}

.item figure {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 64px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.item .back {
    margin: 0px;
    background:url(../image/ui/back.png);
    /*background: blue;*/
}

.item .front {
    margin: 0px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.item-type-1 {
    background:url(../image/item/BigEyes.png) no-repeat 0 0;
}
.item-type-2 {
    background:url(../image/item/Black.png) no-repeat 0 0;
}
.item-type-3 {
    background:url(../image/item/BlackPower.png) no-repeat 0 0;
}
.item-type-4 {
    background:url(../image/item/Blue.png) no-repeat 0 0;
}
.item-type-5 {
    background:url(../image/item/Brown.png) no-repeat 0 0;
}
.item-type-6 {
    background:url(../image/item/Green.png) no-repeat 0 0;
}
.item-type-7 {
    background:url(../image/item/Orange.png) no-repeat 0 0;
}
.item-type-8 {
    background:url(../image/item/Pink.png) no-repeat 0 0;
}
.item-type-9 {
    background:url(../image/item/Tentacles.png) no-repeat 0 0;
}
.item-type-10 {
    background:url(../image/item/Tie.png) no-repeat 0 0;
}
.item-type-11 {
    background:url(../image/item/White.png) no-repeat 0 0;
}

.item-done {
    filter: grayscale(0.7);
    -webkit-filter: grayscale(0.7);
    -moz-filter: grayscale(0.7);
    -o-filter: grayscale(0.7);
    -ms-filter: grayscale(0.7);
}

#icon-div {
    position: absolute;
    margin-left:750px;
    float:left;
}

#icon-img {
    padding-left: 50px;
}

#point-div {
    width: 150px;
    height: 150px;
    background:url(../image/ui/score.png) no-repeat 0 0;
    padding: 19px 0px 0px 29px;
    margin-left: -7px;
    font-size: 30px;
    color: rgb(250, 250, 250);
}

#s {
    margin: 30px;
    padding: 10px;
}


.settingsWindow

{
    width: 700px;
    height: 266px;
    padding: 10px;
    border: 4px solid #fff;
    background: rgba(83,83,83,1.3);
    border-radius: 22px;
    position: absolute;
    left: -726px;
    bottom: -93px;
    opacity: 0;
    box-shadow: 5px 8px 2px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1.2,0.5);
    z-index: -100;


}
.settingsWindow:before, .settingsWindow:after {
    content: '';
    position: absolute;
    bottom: 99px;
    left: 101%;
    margin-left: 3px;
    width: 0;
    height: 0;
    border-top: 48px solid transparent;
    border-bottom: 48px solid transparent;
    border-left: 40px solid #8E6D65;

}


/*.settingsWindow:after {
    bottom: 102px;
    margin-left: 9px;
    border-top: -1px solid #ffffff;
}*/

.settingsWindow.click{
    opacity: 0.9;
    bottom: -93px;
    left: -726px;
    z-index:100 ;
    -webkit-transform:scale(1,1);
}



.btn {
    border: 0 none;
    background: url('../image/ui/start.png') no-repeat ;
    width: 224px;
    height: 195px;
    margin: 164px 402px;
    cursor: pointer;
    position: relative;
}

.btn:active{border: 0 none;}

.win{
    width: 700px;
    height: 350px;
    background-color: beige;
    background-image: url("../image/background/win.png");
    background-repeat:no-repeat;
    position: absolute;
    opacity: 0;
    left: 10%;
    display: block;
    top: -200px;
    border: double darkorange 14px;
    border-radius: 16px;
    box-shadow: 5px 8px 2px rgba(0,0,0,0.3);
    -webkit-transition: all 0.8s ease-in-out;
    -webkit-transform: scale(1.2,0.1);
}
.true {
    opacity: 1;
    z-index: 1000;
    top: 280px;
-webkit-transform: scale(1,1);

}
.nextLevelButton{

    margin:198px 394px ;
    background: #2C3E50;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 5px;
    width: 101px;
    height: 40px;
    padding: 7px 7px;
}
.nextLevelButton:hover,.nextLevelButton:focus {box-shadow:0  0 0 2px grey, 0 0 0 3px #2C3E50;}



